<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.demo.ac.mapper.AcUserMapper">

<select id="selectByAuth" resultType="biz.demo.ac.entity.AcUser">
	select id, name, email from g_ac_user where name= #{username} and password = #{password}
</select>
</mapper>
