<?xml version="1.0" encoding="UTF-8"?>
<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
		/WEB-INF/bean.xml, /WEB-INF/bean2.xml,
	</param-value>
</context-param>
<listener>
	<listener-class>
		org.springframework.web.context.ContextLoaderListener
	</listener-class>
</listener>